autocommand==2.2.2
irc==20.5.0
jaraco.collections==5.2.1
jaraco.context==6.0.1
jaraco.functools==4.3.0
jaraco.logging==3.4.0
jaraco.stream==3.0.4
jaraco.text==4.0.0
more-itertools==10.8.0
paho-mqtt==2.1.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
six==1.17.0
tempora==5.8.1
